/*The selector is body and inside the curly braces are all the declarations, or property value pairs, that will affect that selector.*/

h1 {
    text-align: center;
}

nav {
    background-color: steelblue;
    padding: 10px;
  }
  a {
    color: white;
    margin: 40px;
  }
  h1 {
    color: steelblue;
  }
  img {
    width: 800px;
    border: 4px solid steelblue;
  }
  p {
    padding: 10px;
  }
  footer {
    background-color: steelblue;
    color: white;
  }

img {
    width: 80%;
}

p {
    width: 80%;
}

a {
    font-size: 1.5em;
}

nav, footer {
    text-align: center;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

main p {
    width: 80%;
    margin: 0 auto;
}

main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

a:hover {
    background-color: white;
    color: steelblue;
}